.services {
  
  background-color: #383f41;
  text-align: center;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.services-obj{
 
  color: #029598;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services-content > h2 {
  color: #029598;
  z-index: 2;
}
.services > p {
  font-family: "Bai Jamjuree", sans-serif;
  font-style: italic;
}

.services-info {
  color: #ffffff;
  z-index: 2;
}
.geo {
  position: absolute;
  left: 0px;
  top: 1190px;
  height: 90px;
  z-index: 1;
}
.geo2 {
  position: absolute;
  right: 0px;
  top: 640px;
  height: 90px;
  rotate: 180deg;
  z-index: 1;
}

/* RESPONSIVE */

@media screen and (min-width: 375px){
  .geo2{
    right: -0px;
  }
}

@media screen and (min-width: 768px) {
  .services-container{
    display: flex;
  }
  .services{
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1080px){
  .services{
    height: 540px;
  }
}


@media screen and (min-width: 1024px){
  .services{
    display: flex;
    flex-direction: row;
  }
  .services-container{
    display: flex;
  }
 
  .services-obj{
    display: flex;
    flex-direction: column;
 }
}
@media screen and (min-width: 1080px){
  .geo2{
    top: 540px;
    height: 200px;
  }
  .geo{
    top: 880px;
    height: 200px;
  }
}
@media screen and (min-width: 1360px){
  .services{
    height: 632px;
  }
  .geo{
    top: 1057px;
  }
  .geo2{
    top: 625px;
  }
}
@media  screen and (min-width: 2560px){
  .services{
    height: 1390px;
  }
  
  .geo{
    top: 2280px;
    height: 500px;
    
  }
  .geo2{
    top: 1390px;
    height: 500px;
    right: 10px;
  }
  .services-obj{
    width: 600px;
  }
  .services-info {
    font-size: 4ch;
  }
}