.arrow{
    position: fixed;
    top: 480px;
    right: 25px;
    z-index: 10;
    cursor: pointer;
    height: 30px;
    animation: arrow 2s infinite;
    rotate: 180deg;
  }
  
  
  /*  animación del arrow */
  
  @keyframes arrow {
   
    25% {
      
      transform: scale(0.9);
    }
    
    50% {
       opacity: 1;
       transform: scale(1.1);
    }
  
    100% {
      
       transform: scale(0.0);
       opacity: 0;
      
    }
  
  }
  /* RESPONSIVE */
  @media  screen and (min-width: 320px) {
    .arrow{
      display: none;
    }
  }

  @media  screen and (min-width: 768px) {
    .arrow{
      display: block;
      height: 40px;

    }
  }

  @media  screen and (min-width: 1440px) {
    .arrow{
      top: 470px;
      height: 30px;
    }
  }

  @media screen and (min-width: 2560px) {
    .arrow{
      right: 26px;
      top: 560px;
      height: 55px;
    }
  }
