.arrow{
    position: fixed;
    top: 480px;
    right: 25px;
    z-index: 10;
    cursor: pointer;
    height: 30px;
    animation: arrow 2s infinite;
  }
  
  
  /*  animación del arrow */
  
  @keyframes arrow {
   
    25% {
      
      transform: scale(0.9);
    }
    
    50% {
       opacity: 1;
       transform: scale(1.1);
    }
  
    100% {
      
       transform: scale(0.0);
       opacity: 0;
      
    }
  
  }
  
