.head {
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 28%;
}
.logo {
  height: 60px;
  margin-top: 10px;
}
.logo-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-sub > p {
  color: #fff;
  font-family: "Bai Jamjuree";
  font-style: italic;
}

.nav-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.slogan {
  font-family: "Bai Jamjuree";
  font-style: italic;
  font-weight: 700;
  font-size: 10px;
  color: #ffffff;
  display: none;
}
.main-content > h1 {
  color: #ffffff;
  text-align: center;
}
.highlight {
  color: #029598;
}
.main-content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content > p {
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: italic;
}
.btn-app {
  background: #029598;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 50px;
  border: none;
  font-family: "Bai Jamjuree", sans-serif;
  color: #fff;
  padding: 5px;
}

.btn-app:hover {
  background-color: #fff;
  color: #029598;
}

.social {
  display: flex;
  margin-top: -65px;
  margin-right: 25px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 35px;
}
.social-icon {
  height: 30px;
  margin-left: 15px;
}
.social-icon:hover {
  transform: scale(1.1);
  color: #029598;
}
/* RESPONSIVE */

@media screen and (min-width: 768px) {
  .slogan {
    display: inline-flex;
  }
  .nav-cont {
    align-items: baseline;
  }
  .social {
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 430px;
    z-index: 30;
  }
  .social-icon {
    margin: 4px;
  }
  .main-content {
    width: 395px;
    margin-left: 250px;
    align-items: flex-start;
  }
  .main-content > h1 {
    text-align: left;
  }
  .main-content > p {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    width: 444px;
    margin-left: 264px;
    font-size: 80%;
  }
  .main-content > h1 {
    font-size: 4ch;
  }
}

@media screen and (min-width: 1080px) {
  .head {
    height: 540px;
  }
  .social {
    top: 450px;
  }
  .social-icon {
    height: 20px;
  }
}
@media screen and (min-width: 1360px) {
  .head {
    height: 625px;
  }
}

@media screen and (min-width: 1440px) {
  .head {
    height: 850px;
  }
  .logo {
    height: 100px;
  }
  
  .main-content {
    width: 420px;
    margin-left: 350px;
  }
  .main-content > h1 {
    font-size: 6ch;
  }
  .main-content > p {
    font-size: 2.5ch;
  }
  .slogan {
    font-size: 3ch;
  }
  .social-icon {
    height: 35px;
  }
}

@media screen and (min-width: 2560px) {
  .head {
    height: 1390px;
  }
  .logo {
    height: 200px;
  }
  .nav-cont {
    padding: 40px;
  }
  .main-content {
    width: 800px;
    margin-left: 600px;
  }
  .main-content > h1 {
    font-size: 10ch;
  }
  .main-content > p {
    font-size: 4ch;
  }
  .slogan {
    font-size: 3ch;
  }
  .social-icon {
    height: 50px;
  }
}
