.about{
    background-color: #029598;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 640px;
}

.geo-team{
    position: absolute;
    height: 150px;
    left: -40px;
    top: 1280px;
    z-index: 1;
}
.about > h2 {
    z-index: 2;
    color: #fff;
    
}

.about > p {
    color: #fff;
    z-index: 2;
    font-family: 'Bai Jamjuree', sans-serif;
    font-style: italic;
    font-size: 95%;
}
.img-team {
    
    height: 220px;
    margin-top: 20px;
   
}