.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 640px;
}
.geo-contact {
    position: absolute;
    left: -40px;
    z-index: 1;
    height: 120px;
}
.geo-contact-bot {
    position: absolute;
    right: -15px;
    top: 2648px;
    z-index: 1;
    height: 80px;
    rotate: 270deg;
}

.contact > h2 {
    color: #029598;
    z-index: 2;
}
.contact > h3 {
    z-index: 2;
    font-family: "Bai Jamjuree", sans-serif;
    font-style: italic;
}
.line {
    border: 1px solid #000000;
    width: 280px;
}
.form-cont {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: "Bai Jamjuree", sans-serif;
    font-style: italic;
}
.form-cont > input {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    border: none;
}
.form-cont > textarea {
    margin-top: 10px;
    border: none;
}
.contact-date {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.contact-date > h2 {
    color: #029598;
}

/* RESPONSIVE */

@media screen and (min-width: 375px) {
    .geo-contact-bot {
        height: 100px;
        rotate: 270deg;
        right: -19px;
    }
    .contact-container {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }
    .contact {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        text-align: left;
        height: 640px;
        justify-content: space-between;
    }
}
