.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 640px;
}
.geo-contact {
    position: absolute;
    left: -40px;
    z-index: 1;
    height: 120px;
}
.geo-contact-bot {
    position: absolute;
    right: -15px;
    top: 2722px;
    z-index: 0;
    height: 80px;
    rotate: 270deg;
}

.contact > h2 {
    color: #029598;
    z-index: 2;
}
.contact > h3 {
    z-index: 2;
    font-family: "Bai Jamjuree", sans-serif;
    font-style: italic;
    
}
.contact-title{
    display: flex;
    justify-content: center;
    color: #029598;
    padding: 5px;
    z-index: 4;
}
.line {
    border: 1px solid #000000;
    width: 280px;
}
.form-cont {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: "Bai Jamjuree", sans-serif;
    font-style: italic;
}
.form-cont > input {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    border: none;
}
.form-cont > textarea {
    margin-top: 10px;
    border: none;
}
.contact-date {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 3px;
    text-align: center;
}
.contact-date > h2 {
    color: #029598;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .geo-contact-bot {
        height: 100px;
        rotate: 270deg;
        right: -19px;
    }
    .contact-container {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        height: 890px;
    }
    .contact {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        text-align: left;
        padding: 60px;
        height: 565px;
        justify-content: space-between;
        width: 1036px;
    }
    
    .contact-date{
        justify-content: flex-end;
        align-items: flex-start;
        text-align: left;
    }
    .btn-app{
        width: 223px;
        height: 41px;
    }
    .geo-contact{
        top: 1920px;
        height: 190px;
    }
    .line{
        width: 380px;
    }
    .contact-title{
        justify-content: left;
        z-index: 4;
        padding: 10px;
    }
    .contact-title >h2 {
        z-index: 2;
    }
}
@media screen and (min-width: 1080px){
    
    
    .contact-container{
        width: 100%;
        display: flex;
        height: 460px;
    }
    .contact-date{
        display: flex;
        justify-content: flex-end;
    }
    .contact-date >h3{
        text-align: left;
        font-size: 13px;
        
    }
    .contact-date >h2{
        font-size: 20px;
    }
    .form-cont{
        font-size: 10px;
        
    }
   
    .contact{
        padding: 0px;
        padding-left: 190px;
        display: flex;
        justify-content: flex-start;
        height: 465px;
    }
    .contact > h3 {
        font-size: 25px;
    }
    .contact-title > h2{
        font-size: 25px;
    }
    .geo-contact-bot{
        top: 1908px;
        height: 200px;
        right: -51px;
    }
    .geo-contact{
        top: 1624px;
        height: 200px;
    }
}